n8n/customer-service-chatbot.json
{
  "name": "Chatbot atención al cliente (Telegram + MongoDB)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000001",
      "name": "Recibir mensaje de Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "9f1a1b10-webhook-0001"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "9f1a1b10-0000-4000-8000-000000000010",
              "name": "adminChatId",
              "value": "PON_AQUI_EL_CHAT_ID_DEL_ADMIN",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const message = $json.message || {};\nconst text = message.text || '';\nconst chatId = message.chat ? message.chat.id : null;\nconst username = (message.from && (message.from.username || message.from.first_name)) || 'desconocido';\n\nfunction normalize(str) {\n  return str\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nreturn {\n  json: {\n    chat_id: chatId,\n    username,\n    message: text,\n    message_normalized: normalize(text),\n  }\n};"
      },
      "id": "9f1a1b10-0000-4000-8000-000000000003",
      "name": "Normalizar mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "find",
        "collection": "faqs",
        "query": "={{ { active: true } }}",
        "options": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000004",
      "name": "Buscar FAQs activas",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = $('Normalizar mensaje').first().json;\nconst faqs = $input.all().map(item => item.json);\n\nfunction idToString(id) {\n  if (!id) return null;\n  if (typeof id === 'string') return id;\n  if (id.$oid) return id.$oid;\n  if (id.toString) return id.toString();\n  return String(id);\n}\n\nlet best = null;\nlet bestScore = 0;\n\nfor (const faq of faqs) {\n  const keywords = faq.keywords || [];\n  let score = 0;\n  for (const kw of keywords) {\n    if (source.message_normalized.includes(String(kw).toLowerCase())) {\n      score++;\n    }\n  }\n  if (score > bestScore) {\n    bestScore = score;\n    best = faq;\n  }\n}\n\nconst genericResponse = 'Gracias por tu mensaje. No tengo esa informacion a mano, pero un agente te contactara pronto para ayudarte.';\nconst timestamp = new Date().toISOString();\n\nif (best) {\n  return [{\n    json: {\n      chat_id: source.chat_id,\n      username: source.username,\n      message: source.message,\n      matched: true,\n      faq_id: idToString(best._id),\n      response: best.answer,\n      status: 'answered',\n      timestamp,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    chat_id: source.chat_id,\n    username: source.username,\n    message: source.message,\n    matched: false,\n    faq_id: null,\n    response: genericResponse,\n    status: 'unanswered',\n    timestamp,\n  }\n}];"
      },
      "id": "9f1a1b10-0000-4000-8000-000000000005",
      "name": "Emparejar con FAQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9f1a1b10-0000-4000-8000-000000000020",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000006",
      "name": "¿Hubo coincidencia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000007",
      "name": "Responder con FAQ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "conversations",
        "fields": "",
        "options": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000008",
      "name": "Guardar conversación (respondida)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [1560, 260]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000009",
      "name": "Responder mensaje genérico",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Config').first().json.adminChatId }}",
        "text": "=Pregunta sin responder de @{{ $json.username }} (chat_id: {{ $json.chat_id }}):\n\n\"{{ $json.message }}\"",
        "additionalFields": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000011",
      "name": "Notificar al admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 540]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "conversations",
        "fields": "",
        "options": {}
      },
      "id": "9f1a1b10-0000-4000-8000-000000000012",
      "name": "Guardar conversación (sin responder)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [1560, 660]
    }
  ],
  "connections": {
    "Recibir mensaje de Telegram": {
      "main": [
        [{ "node": "Config", "type": "main", "index": 0 }]
      ]
    },
    "Config": {
      "main": [
        [{ "node": "Normalizar mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar mensaje": {
      "main": [
        [{ "node": "Buscar FAQs activas", "type": "main", "index": 0 }]
      ]
    },
    "Buscar FAQs activas": {
      "main": [
        [{ "node": "Emparejar con FAQ", "type": "main", "index": 0 }]
      ]
    },
    "Emparejar con FAQ": {
      "main": [
        [{ "node": "¿Hubo coincidencia?", "type": "main", "index": 0 }]
      ]
    },
    "¿Hubo coincidencia?": {
      "main": [
        [
          { "node": "Responder con FAQ", "type": "main", "index": 0 },
          { "node": "Guardar conversación (respondida)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Responder mensaje genérico", "type": "main", "index": 0 },
          { "node": "Notificar al admin", "type": "main", "index": 0 },
          { "node": "Guardar conversación (sin responder)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
